{% extends 'base.html' %}
{% block section %}
<section>
<div class="container">
        <div class="row">
          <div class="info col-8 ">
            <div class="heads">
              <p>ONLINE<span>BANK</span></p>
            </div>
            <div class="para">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                reprehenderit in voluptate velit esse cillum dolore eu
                fugiat nulla pariatur.</p>
              <a href="/customer"><button type="button" class="btn-get-started">GET STARTED</button></a>
            </div>
          </div>
          <div class="col-4">
            <img src="static/img/online-banking1.jpg">
          </div>
        </div>
      </div>      
</section>
<section>
        <footer>
          <div class="footer">
            <p>@All copyrights Reserved.</p>
            <p>Designed by - Dhruv bothra Intern at Sparks Foundation</p>
          </div>
        </footer>
      </section>
{% endblock section %}